.item {
    height: 100%;
    background-color: #3a8bb3;
    position: relative;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.04);
    translate: ease out 0.4s;
}

.photo {
    width: 100%;
    height: 75%;
    max-height: calc(var(--item-height) * 0.75);
    object-fit: fill;
}

.details {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
}

.name {
    margin: 4px 4px 0;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 600px) {
    .photo {
        height: 68%;
    }

    .details {
        height: 32%;
    }

    .name {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

.price {
    margin: 0 4px 4px;
    position: absolute;
    bottom: 0;
}

.old-price-line {
    font-size: 0.9rem;

    span {
        text-decoration: line-through;
    }
}

.new-price-line {
    font-size: 1.1rem;
}

.new-price {
    font-size: 1.2rem;
    font-weight: 600;
}

.discount {
    font-size: 0.86rem;
    color: rgb(251, 255, 6);
}
