.product-page {
    padding: var(--pad-1);
}

.product-show {
    width: 740px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.left {
    width: 50%;

    img {
        width: 100%;
    }
}

.right {
    padding: 20px;

    p {
        margin: 10px 0;
    }
}

@media (max-width: 740px) {
    .product-show {
        width: 100%;
        display: block;
    }

    .left {
        width: 100%;
    }

    .right {
        padding: 20px 0;
    }
}

.product-name {
    margin: 4px 0;
    font-size: 1.3rem;
}

.product-price {
    margin: 0;
}

.product-old-price-line {
    font-size: 0.9rem;

    span {
        text-decoration: line-through;
    }
}

.product-new-price-line {
    font-size: 1.1rem;
}

.product-new-price {
    font-size: 1.2rem;
    font-weight: 600;
}

.product-discount {
    font-size: 0.86rem;
    color: rgb(0, 155, 26);
    font-weight: 500;
}

.add-to-cart-btn {
    margin: 16px 0 0;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: blue;
    border: solid 1px blue;
    border-radius: 4px;
    position: relative;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
    transform: scale(1.02);
    transition: ease-out 0.16s;
}

.add-to-cart-btn:active {
    background-color: blue;
    color: white;
    transform: scale(0.8);
    transition: ease-in 0.2s;
}

.current-item-added-to-cart-count {
    position: absolute;
    padding-top: 2px;
    right: -14px;
    top: -12px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    width: 24px;
    text-align: center;
    border: solid 1px black;
    border-radius: 50%;
    color: red;
}

.product-delete-btn{
    display: block;
    margin: 15px 0 15px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 34, 0);
    border: solid 1px rgb(255, 21, 0);
    border-radius: 4px;
}