.cart-item-row {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.cart-item-img {
    width: 50%;
    
    img {
        width: 200px;
    }
}

.cart-item-details {
    width: 50%;

    * {
        margin-bottom: 15px;
    }

    .cart-item-name {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media (min-width: 740px) {
    .cart-item-row {
        width: 700px;
    }
}

@media (max-width: 600px) {
    .cart-item-img img {
        width: 100%;
    }

    .cart-item-details {
        padding: 0 30px;
    }
}

.cart-item-count-change {
    margin-top: 22px;

    button {
        border: none;
        background-color: #0000;

        img {
            width: 25px;
            height: 25px;
        }
    }

    button:first-child {
        margin-right: 15px;
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.16);
        transition: ease-out 0.1s;
    }
}